<a href="https://colab.research.google.com/github/sudipto291088/DATA_201_SPRING_2026_SUDIPTO/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Learning Goals



*   Translate basic R code into Python
*   Distinguish Python lists from NumPy arrays


*   Apply vectorized operations correctly
*   Explain conceptual differences between R and Python

Part A -- Translation (Conceptual)




For the R code below:

Predict the output\
Translate it into Python\







Compute the result in Python


x <- c(1, 3, 5, 7)

y <- ifelse(x > 4, x^2, x + 1)

mean(y)



Clearly show your Python code and final result.

In [1]:
import numpy as np

# Creating vector
x = np.array([1, 3, 5, 7])

# Applying the vectorized conditional, as we notice in R as per the query above
y = np.where(x > 4, x**2, x + 1)

# Compute mean
result = np.mean(y)

y, result

(array([ 2,  4, 25, 49]), np.float64(20.0))

Part B -- Lists vs NumPy Arrays


Create a Python list of numbers 1--5\
Attempt to multiply the list by 2\
Convert the list to a NumPy array and repeat the multiplication





Answer the following questions:

What happened in each case?\
Why does NumPy behave differently?

In [2]:
lst = [1,2,3,4,5]

lst*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [3]:
import numpy as np

np.array(lst)*2

array([ 2,  4,  6,  8, 10])

1. lst*2 ---> repeats the same list
2. np.array(lst)*2 ---> seems to properly give us the multiplication result by multiplying every element within the array with 2.

** Python list is using repetition
** Numpy array used vectorized operation like R

Part C -- Short Reflection (3--4 sentences)



Explain one key conceptual difference between R and Python that stood out to you in this assignment.

Unlike R, python is not automatically vectorized. Hence the ordinary list in python gives us a archaic result clearly indicating that it does not support element wise calculations. Only with the help of numpy were we able to acheive the case.